html {
  margin:0;
  padding:0;
} 

body {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0;
  padding:0;
}

h1, h2, h3, h4 {
  color: black;
}

h1 {
  margin-top: 0;
  padding-top: 40px;
}

.black-opacity{
  background-color: rgba(255,255,255,0.5);
  height: 1000px;
  padding-top: 0;
  margin-top: 0;
  
}

#wunderground-logo {
  width: auto;
  max-height: 20px;
}

#weather-icon {
  width: auto;
  height: 90px;
}

.toggle-text-left{
  display: none;
  text-align: center;
  vertical-align:middle;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.toggle-text-right{
  display: none;
  text-align: center;
  vertical-align:middle;
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 5px;
}

.toggle-switch {
  display: none;
}

.container-flex {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.credits {
  padding: 50px 0 0 0;
}

/* Toggle Switch from http://callmenick.com/post/css-toggle-switch-examples */
.cmn-toggle {
  position: fixed;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.cmn-toggle-round-flat + label {
  padding: 2px;
  /* size of switch */
  width: 40px;
  height: 20px;
  /*----------------*/
  background-color: #000000;
  border-radius: 60px;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: '';
}

input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 12px; /* size of switch circle */
  background-color: #000000;
  border-radius: 52px;
  transition: margin 0.4s, background 0.4s;
}

input.cmn-toggle-round-flat:checked + label {
  background-color: #000000;
}

input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 20px; /* how much switch slides to right */
  background-color: #000000;
}
